.searchForm {
    width: 650px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    justify-content: center;
}

.searchPanel {
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    order: 0;
    width: 550px;
    height: 40px;
    border: 1px solid black;
    border-right: none;
}

.categoryLabel {
    order: 2;
    margin-left: -70px;
}

.sortingLabel {
    order: 4;
}
.categorySpan {
    margin-right: 10px;
}
.sortingSpan {
    margin-right: 10px;
}

.categoriesSelect {
    margin-right: 20px;
    width: 110px;
    height: 35px;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.sortingSelect {
    width: 110px;
    height: 35px;
    font-size: 18px;
    font-family: "Calibri", sans-serif;

}

.searchButton {
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: url("../img/magnifier.svg") center no-repeat;
    background-size: 20px;
    font-family: "Calibri", sans-serif;
    order: 1;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    align-self: flex-start;
}

@media (max-width: 960px)
{

    .searchForm {
        width: 470px;
        margin: 0;
    }
    .searchPanel {
        width: 400px;
        height: 35px;
    }
    .categorySpan {
        margin-left: 20px;
        margin-right: 10px;
    }

    .searchButton {
        cursor: pointer;
        width: 50px;
        height: 35px;
        background: url("../img/magnifier.svg") center no-repeat;
        background-size: 20px;
        font-family: "Calibri", sans-serif;
        order: 1;
        background-color: white;
        border: 1px solid black;
        border-left: none;
        align-self: flex-start;
    }
}

@media (max-width: 620px) {

    .searchForm {
        width: 310px;
    }

    .searchPanel {
        width: 250px;
        height: 30px;
        margin-bottom: 25px;
    }
    .searchButton{
        height: 30px;
        background-size: 15px;
    }

    .categoryLabel,
    .sortingLabel {
        width: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 16px;
        margin: 0;
    }

    .categorySpan {
        margin: 0;
    }

    .sortingSelect,
    .categoriesSelect {
        margin: 0;
        font-size: 16px;
        height: 30px;
        width: 90px;
    }

}